   <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-16">
        <h1 class="text-4xl text-center mb-8 font-bold tracking-tight text-gray-900 sm:text-6xl">Demo Form</h1>
<form class="space-y-6" (ngSubmit)="onSubmit()" #demoForm="ngForm">

  <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
        <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can receive mail.</p>
      </div>
      <div class="mt-5 md:col-span-2 md:mt-0">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="firstname" class="block text-sm font-medium text-gray-700">First name<sup class="text-red-600 text-lg">*</sup></label>
            <input #firstname="ngModel" [(ngModel)]="model.firstname" required type="text" name="firstname" id="firstname" autocomplete="given-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            <div [hidden]="firstname.valid || firstname.pristine" class="text-red-500 text-sm">Please enter your first name</div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="lastname" class="block text-sm font-medium text-gray-700">Last name<sup class="text-red-600 text-lg">*</sup></label>
            <input #lastname="ngModel" [(ngModel)]="model.lastname" required type="text" name="lastname" id="lastname" autocomplete="family-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            <div [hidden]="lastname.valid || lastname.pristine" class="text-red-500 text-sm">Please enter your last name</div>
          </div>

          <div class="col-span-6 sm:col-span-4">
            <label for="emailaddress" class="block text-sm font-medium text-gray-700">Email address<sup class="text-red-600 text-lg">*</sup></label>
            <input #email="ngModel" [(ngModel)]="model.email" required email type="email" name="email" id="email" autocomplete="email" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            <div [hidden]="email.valid || email.pristine" class="text-red-500 text-sm">Please enter a valid e-mail address</div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
            <select [(ngModel)]="model.country" id="country" name="country" autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              <option>United States</option>
              <option>Canada</option>
              <option>Mexico</option>
            </select>
          </div>

          <div class="col-span-6">
            <label for="street-address" class="block text-sm font-medium text-gray-700">Street address</label>
            <input [(ngModel)]="model.street" type="text" name="street-address" id="street-address" autocomplete="street-address" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-6 lg:col-span-2">
            <label for="city" class="block text-sm font-medium text-gray-700">City</label>
            <input [(ngModel)]="model.city" type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
            <input [(ngModel)]="model.region" type="text" name="region" id="region" autocomplete="address-level1" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <label for="postal-code" class="block text-sm font-medium text-gray-700">ZIP / Postal code</label>
            <input [(ngModel)]="model.zip" type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <button type="button" routerLink="/" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
    <button type="submit" [disabled]="!demoForm.valid" class="disabled:bg-gray-400 disabled:cursor-not-allowed ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
  </div>
</form>
</div>
</div>
